@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open sans/OpenSans-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open sans/OpenSans-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/open sans/OpenSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: #282828;
}

h1 {
  margin: 0;
}

a {
  color: #000;
  text-decoration: #000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover {
  color: #000;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

input {
  padding: 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: auto;
  box-sizing: border-box;
}

.container-fluid {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-btn::after {
  padding-left: 15px;
  content: url("../img/caret-down.png");
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
}

p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-top {
  height: 50px;
  font-size: 11px;
  color: #b1b1b1;
  background-color: #F5F5F5;
  justify-content: center;
  line-height: 50px;
  transition: all, 2s;
  -webkit-transition: all, 2s;
  -moz-transition: all, 2s;
  -ms-transition: all, 2s;
  -o-transition: all, 2s;
}
.header-top-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-top-inner .header-top-social {
  font-size: 16px;
}
.header-top-inner .header-top-social a {
  color: #b1b1b1;
}
.header-top-inner .header-top-social a i {
  padding: 10px 0px 10px 10px;
  transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -ms-transition: all, 0.2s;
  -o-transition: all, 0.2s;
}
.header-top-inner .header-top-social a:hover {
  color: #0000FF;
}
.header-top-inner .header-top-social a:hover i {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.header-bot {
  background-color: #fff;
  z-index: 999;
  height: 100px;
  box-sizing: border-box;
}
.header-bot-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header-bot-inner .header-bot-logo {
  height: 100px;
}
.header-bot-inner .header-bot-logo .img-logo {
  display: block;
  height: 57px;
  margin-top: 24px;
}
.header-bot-inner .nav-bar .main-menu {
  display: flex;
  align-items: center;
}
.header-bot-inner .nav-bar .main-menu .menu-item {
  font-size: 18px;
  font-weight: 700;
  color: #282828;
}
.header-bot-inner .nav-bar .main-menu .menu-item:hover .menu-child {
  opacity: 1;
  visibility: visible;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child {
  opacity: 0;
  visibility: hidden;
  padding: 0 15px 15px 15px;
  background-color: #fff;
  z-index: 9999;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 999999;
  justify-content: space-between;
  transition: all, 0.5s ease-in-out;
  -webkit-transition: all, 0.5s ease-in-out;
  -moz-transition: all, 0.5s ease-in-out;
  -ms-transition: all, 0.5s ease-in-out;
  -o-transition: all, 0.5s ease-in-out;
  box-sizing: border-box;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items {
  width: 60%;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items ul {
  display: flex;
  flex-wrap: wrap;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items ul li {
  width: 50%;
  margin-bottom: 8px;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items ul li a {
  display: block;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items ul li a:hover {
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
  color: #0000FF;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items ul li .menu-child-items-a {
  font-weight: 600;
  color: #282828;
  font-size: 16px;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child-items ul li i {
  margin-right: 10px;
  font-size: 14px;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child .menu-child-img-outer {
  width: 30%;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child .menu-child-img-outer .menu-child-img {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-child .menu-child-img-outer .menu-child-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-item-a {
  padding: 34px 15px;
  display: block;
  color: #282828;
  transition: all, 0.1s;
  -webkit-transition: all, 0.1s;
  -moz-transition: all, 0.1s;
  -ms-transition: all, 0.1s;
  -o-transition: all, 0.1s;
  position: relative;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-item-a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  height: 4px;
  width: 0;
  background-color: #0000FF;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-item-a:hover {
  color: #0000FF;
}
.header-bot-inner .nav-bar .main-menu .menu-item .menu-item-a:hover::after {
  width: 100%;
}
.header-bot-inner .header-bot-search {
  font-size: 18px;
  padding: 10px 12px;
  border: 2px solid #0000FF;
  border-radius: 50%;
  color: #0000FF;
  transition: all, 0.2s;
  -webkit-transition: all, 0.2s;
  -moz-transition: all, 0.2s;
  -ms-transition: all, 0.2s;
  -o-transition: all, 0.2s;
}
.header-bot-inner .header-bot-search:hover {
  color: #fff;
  background-color: #0000FF;
  cursor: pointer;
  border: 2px solid #0000FF;
  border-radius: 50%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

.acf-map img {
  max-width: inherit !important;
}

.banner .slick-prev {
  left: 50px;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.banner .slick-prev:hover::before {
  color: #0000FF;
}
.banner .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  color: #fff;
  font-size: 30px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
}
.banner .slick-prev::before:hover {
  color: #0000FF;
}
.banner .slick-next {
  right: 50px;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.banner .slick-next:hover::before {
  color: #0000FF;
}
.banner .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: #fff;
  font-size: 30px;
  opacity: 1;
}
.banner .slick-dots {
  transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
}
.banner .slick-dots li button::before {
  color: #fff;
  opacity: 1;
  font-size: 10px;
}
.banner .slick-dots .slick-active button::before {
  color: #0000FF;
  font-size: 14px;
}

.single-product-slider .slick-dots {
  transform: translate(0, -150%);
  -webkit-transform: translate(0, -150%);
  -moz-transform: translate(0, -150%);
  -ms-transform: translate(0, -150%);
  -o-transform: translate(0, -150%);
}
.single-product-slider .slick-dots li button::before {
  color: #b1b1b1;
  opacity: 1;
  font-size: 10px;
}
.single-product-slider .slick-dots .slick-active button::before {
  color: #0000FF;
  font-size: 14px;
}
.single-product-slider .slick-prev {
  left: 0px;
  z-index: 2;
  width: auto;
  height: 50px;
}
.single-product-slider .slick-prev:hover::before {
  color: #0000FF;
}
.single-product-slider .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  color: #b1b1b1;
  font-size: 30px;
  opacity: 1;
  padding: 5px;
}
.single-product-slider .slick-prev::before:hover {
  color: #0000FF;
}
.single-product-slider .slick-next {
  right: 0px;
  z-index: 2;
  width: auto;
  height: 50px;
}
.single-product-slider .slick-next:hover::before {
  color: #0000FF;
}
.single-product-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: #b1b1b1;
  font-size: 30px;
  opacity: 1;
  padding: 5px;
}

.relevant-product-slider .slick-prev {
  left: 10px;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.relevant-product-slider .slick-prev:hover::before {
  color: #0000FF;
}
.relevant-product-slider .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f053";
  color: #b1b1b1;
  font-size: 30px;
  opacity: 1;
  padding: 10px;
  border-radius: 10px;
}
.relevant-product-slider .slick-prev::before:hover {
  color: #0000FF;
}
.relevant-product-slider .slick-next {
  right: 10px;
  z-index: 2;
  width: 50px;
  height: 50px;
}
.relevant-product-slider .slick-next:hover::before {
  color: #0000FF;
}
.relevant-product-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: #b1b1b1;
  font-size: 30px;
  opacity: 1;
}

.banner {
  margin-bottom: 0 !important;
}

.banner-inner {
  align-items: center;
  background-position: center center;
  position: relative;
  background-repeat: no-repeat;
  min-height: 700px;
}
.banner-inner .banner-content {
  display: flex;
}
.banner-inner .banner-content .banner-content-inner {
  width: 90%;
  color: #fff;
  padding-top: 300px;
}
.banner-inner .banner-content .banner-content-inner .banner-title {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}
.banner-inner .banner-content .banner-content-inner .banner-description {
  font-size: 16px;
  line-height: 24px;
}

.about-us {
  background-position: left, right;
  background-repeat: no-repeat;
  background-size: 50%, cover;
  object-fit: cover;
}
.about-us .left-col {
  width: 50%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 30px;
}
.about-us .left-col h2 {
  font-size: 30px;
  font-weight: 700;
  color: #0000FF;
  margin-bottom: 20px;
  margin-top: 50px;
}
.about-us .left-col p {
  margin-bottom: 50px;
}

.all-category h2 {
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #0000FF;
}
.all-category .row-1 .category-col {
  width: 33.33%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.all-category .row-1 .category-bg {
  background-color: #F0F0F0;
  padding: 50px 0 30px 0;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.all-category .row-1 .category-bg:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.all-category .row-1 .category-bg:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.all-category .row-1 .category-bg img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.all-category .row-1 .category-1 .img-frame-outer {
  padding: 0 50px;
}
.all-category .row-1 .category-1 .img-frame-outer .img-frame {
  position: relative;
  height: 0;
  padding-top: 100%;
}
.all-category .row-1 .category-1 .img-frame-outer .img-frame-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.all-category .row-1 .category-1 h3 {
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  font-weight: 700;
}
.all-category .row-2 .category-col {
  width: 50%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}

.news h2 {
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #0000FF;
}
.news .news-col {
  width: 33.33%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.news .news-col .news-col-1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #F0F0F0;
}
.news .news-col .news-col-1 .img-frame-outer .img-frame {
  position: relative;
  height: 0;
  padding-top: 65%;
}
.news .news-col .news-col-1 .img-frame-outer .img-frame-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.news .news-col .news-col-1 .news-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.news .news-col .news-col-1 .news-content h3 {
  margin-bottom: 10px;
  min-height: 48px;
  color: #0000FF;
}

.partner {
  margin-top: 80px;
  background-position: right 70%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  padding: 90px 0;
}
.partner h2 {
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #0000FF;
}
.partner-slider {
  margin: 0 -15px;
}
.partner-slider-inner {
  margin: 0 15px;
  height: 120px;
  align-items: center;
  display: flex !important;
}
.partner-slider-inner img {
  max-width: 100%;
}

.footer-top {
  padding: 60px 0 30px 0;
  background-color: #F5F5F5;
}
.footer-top-logo-name {
  height: 100px;
  display: flex;
  align-items: center;
}
.footer-top-logo-name .logo {
  width: 35%;
}
.footer-top-logo-name .logo .img-logo {
  display: block;
  height: 100px;
}
.footer-top-logo-name .company-name a {
  font-size: 25px;
  font-weight: 700;
}
.footer-top-logo-name .company-name a:hover {
  color: #0000FF;
}
.footer-top-inner .col .title {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 15px;
}
.footer-top-inner .col-1 {
  width: 25%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.footer-top-inner .col-1 ul li.info-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}
.footer-top-inner .col-1 ul li.info-item a {
  display: flex;
  align-items: baseline;
}
.footer-top-inner .col-1 ul li.info-item:hover i {
  color: #0000FF;
}
.footer-top-inner .col-1 ul li.info-item i {
  margin-right: 15px;
}
.footer-top-inner .col-1 ul li.info-item-x {
  margin-top: 15px;
}
.footer-top-inner .col-1 ul li.info-item-x a:hover {
  color: #0000FF;
}
.footer-top-inner .col-1 ul li.info-item-x a:hover i {
  color: #0000FF;
  border-color: #0000FF;
}
.footer-top-inner .col-1 ul li.info-item-x i {
  margin-right: 15px;
  border: 1px solid #0000FF;
  padding: 5px;
  color: #0000FF;
}
.footer-top-inner .col-2 {
  width: 35%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.footer-top-inner .col-2 ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-top-inner .col-2 ul li {
  width: 48%;
  align-items: baseline;
  margin-bottom: 10px;
}
.footer-top-inner .col-2 ul li:hover {
  cursor: pointer;
}
.footer-top-inner .col-2 ul li:hover a {
  color: #0000FF;
}
.footer-top-inner .col-3 {
  width: 40%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.footer-bot {
  background-color: #F0F0F0;
  height: 50px;
  box-sizing: border-box;
  line-height: 50px;
  text-align: center;
}
.footer-bot span {
  color: #0000FF;
  font-weight: 700;
}
.footer-bot span a {
  color: #0000FF;
}

.banner-single-p {
  min-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-single-p p {
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.bread-crumb {
  background-color: #F5F5F5;
  transition: all, 2s;
  -webkit-transition: all, 2s;
  -moz-transition: all, 2s;
  -ms-transition: all, 2s;
  -o-transition: all, 2s;
}
.bread-crumb-inner {
  height: 50px;
  display: flex;
  line-height: 50px;
  color: #b1b1b1;
}
.bread-crumb-inner a {
  display: block;
  color: #b1b1b1;
}
.bread-crumb-inner a:hover {
  color: #0000FF;
}
.bread-crumb-inner p {
  margin-left: 15px;
}

.fixed_b {
  position: fixed;
  top: 100px;
  z-index: 10;
  left: 0;
  width: 100%;
}

.single-product-inner {
  margin-top: 30px;
}
.single-product-inner .row {
  justify-content: space-between;
}
.single-product-inner-col-1 {
  width: 45%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.single-product-inner-col-1 .single-product-slider {
  box-sizing: border-box;
}
.single-product-inner-col-1 .single-product-slider .single-product-slider-img {
  box-sizing: border-box;
}
.single-product-inner-col-1 .single-product-slider .single-product-slider-img-inner {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}
.single-product-inner-col-1 .single-product-slider .single-product-slider-img-inner .sps-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-product-inner-col-1 .single-product-slider-bot {
  margin: 0 -15px;
  margin-top: 30px;
}
.single-product-inner-col-1 .single-product-slider-bot .single-product-slider-img-bot {
  margin: 15px;
}
.single-product-inner-col-1 .single-product-slider-bot .single-product-slider-img-bot-inner {
  position: relative;
  padding-bottom: 100%;
  /* overflow: hidden; */
  height: 0;
}
.single-product-inner-col-1 .single-product-slider-bot .single-product-slider-img-bot-inner .sps-img-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
}
.single-product-inner-col-1 .single-product-slider-bot .single-product-slider-img-bot-inner .sps-img-bot:hover {
  cursor: pointer;
}
.single-product-inner-col-1 .single-product-slider-bot .slick-current .sps-img-bot {
  border: 1px solid #0000FF;
}
.single-product-inner-col-2 {
  width: 50%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.single-product-inner-col-2 .single-product-content {
  width: 100%;
}
.single-product-inner-col-2 .single-product-content h1 {
  text-transform: uppercase;
}
.single-product-inner-col-2 .single-product-content h1 span {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 600;
}
.single-product-inner-col-2 .single-product-content h2 span {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 600;
}
.single-product-inner-col-2 .single-product-content h3 span {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: 600;
}
.single-product-inner-col-2 .single-product-content .contact-person {
  align-items: center;
  justify-content: center;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-img {
  width: 20%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-img-inner {
  height: 0;
  padding-top: 100%;
  position: relative;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-img-inner img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid #0000FF;
  padding: 2px;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info {
  width: 75%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-name {
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 20px;
  color: #0000FF;
  font-weight: 700;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-name p span {
  color: #b1b1b1;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-phone {
  display: flex;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 15px;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-phone:hover i {
  color: #0000FF;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-phone a {
  padding-left: 15px;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-phone i {
  color: #b1b1b1;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-email {
  display: flex;
  font-size: 16px;
  line-height: 16px;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-email:hover i {
  color: #0000FF;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-email a {
  padding-left: 15px;
}
.single-product-inner-col-2 .single-product-content .contact-person .cp-info .cp-email i {
  color: #b1b1b1;
}
.single-product-inner .product-description-inner h2 {
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #0000FF;
}
.single-product-inner .product-description-inner .product-description-img {
  border: 2px solid #F5F5F5;
  padding: 15px;
  box-sizing: border-box;
}
.single-product-inner .product-description-inner .product-description-img img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: block;
  margin: auto;
}

.relevant-product {
  margin-bottom: 80px;
}
.relevant-product h2 {
  margin-top: 90px;
  margin-bottom: 30px;
  font-size: 30px;
  text-align: center;
  color: #0000FF;
}
.relevant-product-slider {
  margin: 0 -15px;
}
.relevant-product-slider .rps-outer {
  padding: 15px;
}
.relevant-product-slider-img {
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  overflow: hidden;
}
.relevant-product-slider-img:hover h3 {
  color: #0000FF;
}
.relevant-product-slider-img-inner {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}
.relevant-product-slider-img-inner .rps-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.relevant-product-slider-img-inner .rps-img:hover {
  cursor: pointer;
}
.relevant-product-slider-img h3 {
  text-align: center;
  text-transform: uppercase;
}

.banner-news {
  min-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-news p {
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.bread-crumb {
  background-color: #F5F5F5;
}
.bread-crumb-inner {
  height: auto;
  min-height: 50px;
  display: flex;
  line-height: 50px;
  color: #b1b1b1;
  flex-wrap: wrap;
}
.bread-crumb-inner a {
  display: block;
  color: #b1b1b1;
  font-weight: 600;
  margin-right: 10px;
  text-transform: uppercase;
}
.bread-crumb-inner a:hover {
  color: #0000FF;
}
.bread-crumb-inner p {
  display: block;
  font-weight: 600;
  margin-right: 10px;
  margin-left: 0;
  text-transform: uppercase;
}

.post-content-outer {
  margin-top: 90px;
  margin-bottom: 80px;
}
.post-content-outer .post-content {
  font-size: 14px;
}
.post-content-outer .post-content p {
  font-size: 16px;
  line-height: 26px;
}
.post-content-outer .post-content a {
  font-size: 16px;
  line-height: 26px;
}
.post-content-outer .post-content img {
  width: 100%;
}
.post-content-outer .post-content .single-post-title {
  color: #0000FF;
  font-size: 27px;
  line-height: 32px;
}
.post-content-outer .post-content .wp-block-image, .post-content-outer .post-content .wp-block-gallery {
  margin-top: 14px;
}
.post-content-outer .post-content-col {
  width: 70%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.post-content-outer .related-post .related-title {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 20px;
}
.post-content-outer .related-post .related-post-content {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #F0F0F0;
  margin-bottom: 15px;
}
.post-content-outer .related-post .related-post-content .img-frame-outer {
  width: 40%;
  overflow: hidden;
}
.post-content-outer .related-post .related-post-content .img-frame-outer .img-frame {
  width: 100%;
  height: 0;
  padding-top: 60%;
  display: block;
  position: relative;
}
.post-content-outer .related-post .related-post-content .img-frame-outer .img-frame img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content-outer .related-post .related-post-content .related-post-content-inner {
  width: 60%;
}
.post-content-outer .related-post .related-post-content .related-post-title {
  margin: 0 0 10px 10px;
  font-size: 14px;
}
.post-content-outer .related-post .related-post-content .related-post-title a {
  color: #0000FF;
}
.post-content-outer .related-post-col {
  width: 30%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}

.category-news .category-tab {
  margin-top: 50px;
  margin-bottom: 30px;
}
.category-news .category-tab .tab-name {
  border-bottom: 3px solid #0000FF;
}
.category-news .category-tab .tab-name .tab-content {
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  position: relative;
  transition: all, 1s;
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  -ms-transition: all, 1s;
  -o-transition: all, 1s;
}
.category-news .category-tab .tab-name .tab-content:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0000FF;
}
.category-news .category-tab .tab-name .tab-content:hover::after {
  width: 100%;
}
.category-news .category-tab .tab-name .tab-content-active {
  color: #fff;
  background-color: #0000FF;
}
.category-news .category-tab .tab-name .tab-content-active::after {
  width: 100%;
}
.category-news .row-outer {
  display: none;
  margin-bottom: 90px;
}
.category-news .row-outer .pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.category-news .row-outer .pagination span {
  display: block;
  padding: 14px;
}
.category-news .row-outer .pagination a {
  display: block;
  padding: 14px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  margin: 0 5px;
  color: #b1b1b1;
}
.category-news .row-outer .pagination .current {
  background-color: #0000FF;
  color: #fff;
  margin: 0 5px;
  box-sizing: border-box;
  padding: 14px;
  font-size: 14px;
  line-height: 14px;
}
.category-news .active {
  display: block;
}
.category-news .row .category-news-col-1 {
  width: 33.33%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.category-news .row h3 {
  color: #0000FF !important;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}

.sale-card {
  padding: 90px 0;
  background-size: cover;
  background-attachment: fixed;
}
.sale-card .row {
  justify-content: center;
}
.sale-card .sale-card-col {
  width: 25%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.sale-card .sale-card-col-outer {
  padding: 15px;
  text-align: center;
  background-color: #F0F0F0;
  border-radius: 15px;
  color: #0000FF;
}
.sale-card .sale-card-col-outer i {
  padding: 10px;
  border: 1px solid #0000FF;
  margin: 0 5px 0px 5px;
  display: inline-block;
  box-sizing: border-box;
}
.sale-card .sale-card-col-outer i:hover {
  cursor: pointer;
  color: #b1b1b1;
  border-color: #b1b1b1;
}
.sale-card .sale-card-col-outer a {
  font-weight: 600;
}
.sale-card .sale-card-col-outer .img-frame {
  position: relative;
  height: 0;
  padding-top: 100%;
}
.sale-card .sale-card-col-outer .img-frame img {
  display: block;
  width: 70%;
  height: 70%;
  margin-top: 45px;
  padding: 2px;
  background-color: #0000FF;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  object-fit: cover;
}
.sale-card .sale-card-col-outer p.name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 20px;
}
.sale-card .sale-card-col-outer p.position {
  margin-bottom: 15px;
}
.sale-card .sale-card-col-outer .sale-icon {
  height: 14px;
  margin-bottom: 60px;
}
.sale-card .sale-card-col-outer .sale-icon-inner {
  height: 14px;
  display: inline-block;
  box-sizing: border-box;
}
.sale-card .sale-card-col-outer .sale-icon-inner a {
  color: #0000FF;
}
.sale-card .sale-card-col-outer .sale-icon-inner .phone {
  display: none;
  line-height: 10px;
}

.address {
  padding: 90px 0;
  background-color: #F0F0F0;
}
.address-col {
  width: 50%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.address-col .wpcf7-form {
  margin: -15px 0;
}
.address-col .wpcf7-form p {
  width: 100%;
}
.address-col .wpcf7-form p input {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  font-family: "Open Sans";
}
.address-col .wpcf7-form p input:focus {
  border: none;
  outline: 1px solid #0000FF;
}
.address-col .wpcf7-form p textarea {
  width: 100%;
  box-sizing: border-box;
  margin-top: 15px;
  border: 1px solid #b1b1b1;
  color: #b1b1b1;
  font-family: "Open Sans";
  padding: 10px;
  height: 100px;
}
.address-col .wpcf7-form p textarea:focus {
  border: none;
  outline: 1px solid #0000FF;
}
.address-col .wpcf7-form p .wpcf7-submit {
  background-color: #0000FF;
  color: #fff;
  border: unset;
  box-sizing: border-box;
  font-weight: 700;
  font-family: "Open Sans";
}
.address-col .wpcf7-form p .wpcf7-submit:hover {
  color: #0000FF;
  background-color: #fff;
  border: 1px solid #0000FF;
  cursor: pointer;
}
.address-outer {
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #b1b1b1;
  margin-bottom: 15px;
}
.address-outer .address-title {
  background-color: #0000FF;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}
.address-outer p {
  margin-bottom: 10px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-bot-90 {
  margin-bottom: 90px;
}

.banner-taxonomy {
  min-height: 350px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all, 2s;
  -webkit-transition: all, 2s;
  -moz-transition: all, 2s;
  -ms-transition: all, 2s;
  -o-transition: all, 2s;
}
.banner-taxonomy h1 {
  text-align: center;
  padding-top: 150px;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.bread-crumb li a {
  display: inline-block;
}
.bread-crumb li p {
  display: inline-block;
}

.category-product .row-outer {
  margin-bottom: 90px;
}
.category-product .row-outer .pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.category-product .row-outer .pagination span {
  display: block;
  padding: 14px;
}
.category-product .row-outer .pagination a {
  display: block;
  padding: 14px;
  font-size: 14px;
  line-height: 14px;
  border: 1px solid #b1b1b1;
  box-sizing: border-box;
  margin: 0 5px;
  color: #b1b1b1;
}
.category-product .row-outer .pagination .current {
  background-color: #0000FF;
  color: #fff;
  margin: 0 5px;
  box-sizing: border-box;
  padding: 14px;
  font-size: 14px;
  line-height: 14px;
}
.category-product .active {
  display: block;
}
.category-product .category-tab {
  margin-top: 50px;
  margin-bottom: 30px;
}
.category-product .category-tab .tab-name {
  border-bottom: 3px solid #0000FF;
}
.category-product .category-tab .tab-name .tab-content {
  padding: 15px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  color: #333333;
  font-weight: 700;
  position: relative;
  transition: all, 1s;
  -webkit-transition: all, 1s;
  -moz-transition: all, 1s;
  -ms-transition: all, 1s;
  -o-transition: all, 1s;
}
.category-product .category-tab .tab-name .tab-content:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0000FF;
}
.category-product .category-tab .tab-name .tab-content:hover::after {
  width: 100%;
}
.category-product .category-tab .tab-name .tab-content-active {
  color: #fff;
  background-color: #0000FF;
}
.category-product .category-tab .tab-name .tab-content-active::after {
  width: 100%;
}
.category-product .row .category-product-col {
  width: 33.33%;
  padding: 0 15px;
  margin: 15px 0;
  box-sizing: border-box;
}
.category-product .row .cp-background {
  background-color: #F0F0F0;
  border: 1px solid #F5F5F5;
  padding: 50px 0 30px 0;
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.category-product .row .cp-background:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.category-product .row .cp-background:hover img {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.category-product .row .cp-background img {
  transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  -moz-transition: all, 0.5s;
  -ms-transition: all, 0.5s;
  -o-transition: all, 0.5s;
}
.category-product .row .cp-item .cp-img-frame-outer {
  padding: 0 50px;
}
.category-product .row .cp-item .cp-img-frame-outer .cp-img-frame {
  position: relative;
  height: 0;
  padding-top: 100%;
}
.category-product .row .cp-item .cp-img-frame-outer .cp-img-frame-inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
}
.category-product .row .cp-item h3 {
  padding: 20px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
  font-weight: 700;
}

/*# sourceMappingURL=style.css.map */
