.category-news {
    .category-tab {
        margin-top: 50px;
        margin-bottom: 30px;
        .tab-name {
            display: flex;
            flex-wrap: wrap;
            .tab-content {
                padding: 15px ;
                display: inline-block;
                text-transform: uppercase;
                font-size: 20px;
                color: $category-text-color;
                font-weight: 700;
                position: relative;
                background-color: $category-background-color;
                margin-right: 5px;
                margin-bottom: 5px;
                @include transit(all, 1s);
                &:hover {
                    cursor: pointer;
                    color: $white-color;
                    background-color: $main-color;
                    &::after {
                        width: 100%;
                    }
                }
            }
            .tab-content-active {
                color: $white-color;
                background-color: $main-color;
                &::after {
                    width: 100%;
                }
            }
            
        }
    }
    .row-outer {
        display: none;
        margin-bottom: 90px;
        .pagination {
            display: flex;
            justify-content: center;
            margin-top: 15px;
            span {
                display: block;
                padding: 14px;
            }
            a {
                display: block;
                padding:  14px ;
                font-size: 14px;
                line-height: 14px;
                border: 1px solid $header-top-text-color;
                box-sizing: border-box;
                margin: 0 5px;
                color: $header-top-text-color;
            }
            .current {
                background-color: $main-color;
                color: $white-color;
                margin: 0 5px;
                box-sizing: border-box;
                padding:  14px ;
                font-size: 14px;
                line-height: 14px;
            }
        }
    }
    .active {
        display: block;
    }
    .row {
        .category-news-col-1 {
            @include col(33.33%);
        }
        
        
            h3 {
                color: $main-color!important;
                text-transform: uppercase;
                font-size: 18px;
                line-height: 25px;
                // color: $category-text-color;
                font-weight: 700;
            }
    } 
}